body{
    align-items: center;
    background-image: linear-gradient(to bottom right,aqua,yellow);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    height: inherit;
    justify-content: center;
}

#div1{
    border-style: groove;
    border-radius: 5px;
    border-color: black;
    border-width: 10px;
    text-align: center;
    background-color: white;
}